* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

body {
    font-size: 16px;
    line-height: 1.6;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./image/immage\ fond\ site.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.7);
}

.logo img {
    width: 60px; /* Ajustez la taille du logo selon vos besoins */
}

.titre {
    position: absolute;
    bottom: 10px; /* Ajustez la position verticale selon vos besoins */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.titre h1 {
    color: #fff;
    font-size: 40px; /* Ajustez la taille de la police selon vos besoins */
}

.titre p {
    color: #fff;
    font-size: 18px; /* Ajustez la taille de la police selon vos besoins */
}

nav {
    position: relative;
}

ul {
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}

ul li {
    position: relative;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}

ul li a:hover {
    background: #000000;
    color: #ffffff;
}

ul li.active a {
    background: #ffffff;
    color: #000;
}

/* Style de base pour la liste déroulante */
ul ul {
    display: none; /* Cachez la liste déroulante par défaut */
    position: absolute;
    background-color: #fff; /* Couleur de fond */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre */
    z-index: 1; /* Assurez-vous que la liste déroulante apparaît au-dessus du contenu */
}

/* Style des éléments de la liste déroulante */
ul ul li {
    display: block;
    width: 100%;
}

/* Style des liens de la liste déroulante */
ul ul li a {
    display: block;
    padding: 5px; /* Espace interne autour du texte */
    color: #333; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
    transition: background-color 0.3s ease; /* Ajoute une transition en douceur au survol */
}

/* Changement de style au survol */
ul ul li a:hover {
    background-color: #eee; /* Couleur de fond au survol */
}

/* Afficher la liste déroulante lorsque le parent est survolé */
ul li:hover > ul {
    display: block;
}

/* Centrer les liens verticalement */
ul {
    align-items: center;


}
.welcome-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2; /* Assurez-vous que le texte est au-dessus de l'image de fond */
}

.welcome-section h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.welcome-section p {
    font-size: 18px;
}


*