body {
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("image/fondmarseillenuit.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-size: 15px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    bottom: 0;
    width: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./image/mucem.jpg);
    height: 6vh;
    background-size: cover;
    background-position: center;
}

.logo a{
    color: white;
    padding: 0px 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration:none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.7);
}

.logo span{
    color: rgb(238, 56, 11);
    font-weight: bold;
    font-size: 2rem;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;

}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1PX solid transparent;
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}

ul li a:hover{
    background: #000000;
    color: #ffffff;

}

ul li.active a{
    background: #ffffff;
    color: #000;
}

.principal{
    max-width: 114rem;
    margin: 0 auto;

}

.titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titre h1{
    color: #fff;
    font-size: 70px;

}

.bouton{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouton a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
}

.btn{
    transition: 00.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
  }

  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px;
    display: block;
  }

  ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    
    
  }

  ul ul li {
    display: block;
    width: 100%;
  }

  li:hover > ul {
    display: block;
  }
  .mosaique {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    margin-top: 10px;
}
.mosaique {
    border: 0px solid #ccc;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
    border-radius: 10px;
}

.mosaique  img {
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    overflow: hidden;
}
